$color-white: #e4e6eb;
// $color-black: #18191a;
// $color-primary: #242526;
$color-secondary: #53a0fd;
// $color-border: #ccc;
// $color-background: #eaeaea;

$color-navBarColor: #0e0918;
$color-secondary: #dc2d76;
$color-gradient1: #33275c;
$color-gradient2: #180825;
